.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.app-container > * {
  flex: 1 100%;
}

@media all {
  .steps {
    order: 1;
    margin: 40px 0;
  }

  .form {
    order: 1;
  }
}


.button-start {
  background-color: #000;
  color: #fff;
}


button {
  background-color: #fff;
  border-color: #707070;
  color: #707070;
}